.App {
  text-align: center;
}

body{
  height: 100%;
  margin: 0;
  background: whitesmoke;
}
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}
.flexbox .main{
  flex: 1;
  position: relative;
  padding-top: 1em;
  padding-left: 2em;
}
.flexbox .header{
  align-self: center;
}
.flexbox-row{
  display: flex;
  position: absolute;
  height: 10em;
  width: 100%;
  flex: 3;
}
.flexbox-row .first,
.flexbox-row .second,
.flexbox-row .third{

  padding: 1em;
  flex:1;
  
}
.flexbox-row .first{
  margin:1;
}
.flexbox-row .second{
 margin:1;
}

.sensor{
  text-decoration: 'underline', 
}